body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color:gainsboro;
}
h1{
    color: black;
    text-align: center;
}
.largefont{
    font-size: x-large;
}
.fixedbox{
    position: absolute;
    top: 200px;
    left: 300px;
    width: 400px;
    background-color: aquamarine;
    border-width: 8px;
    border-style: outset;
    border-color: aqua;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 18pt;
    color: black;
}
.floatingbox{
    float: left;
    top: 200px;
    left: 300px;
    width: 400px;
    background-color: aquamarine;
    border-width: 8px;
    border-style: outset;
    border-color: aqua;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 18pt;
    color: black;
}