body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color:gainsboro;
}
h1{
    color: black;
    text-align: center;
}
.largefont{
    font-size: x-large;
}
.fixedbox{
    position: absolute;
    top: 200px;
    left: 300px;
    width: 400px;
    background-color: aquamarine;
    border-width: 8px;
    border-style: outset;
    border-color: aqua;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 18pt;
    color: black;
}
.floatingbox{
    float: left;
    top: 200px;
    left: 300px;
    width: 400px;
    background-color: aquamarine;
    border-width: 8px;
    border-style: outset;
    border-color: aqua;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 18pt;
    color: black;
}
.menubutton{
    background-color: #6f64ff;
    border: 2px solid #778bfd;
    border-radius: 5px;
    padding: 15px 30px;
    width: fit-content;
    height: fit-content;
    display: block;
    font-size: 50px;
    font-weight: 200;
    font-style: bold;
    transition: text-shadow 0.5s, box-shadow 0.5s;

}
.menubutton:hover{
    background-color: #4842a5;
    border: 2px solid #778bfd;
    border-radius: 5px;
    padding: 15px 30px;
    width: fit-content;
    height: fit-content;
    display: block;
    font-size: 50px;
    font-weight: 200;
    font-style: bold;
    transition: text-shadow 0.5s, box-shadow 0.5s;
}